Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <xs:element name="Raiz">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="Item" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:all>
                                             <xs:element name="Codigo" minOccurs="1">
                                                <xs:simpleType>
                                                 <xs:restriction base="xs:string">
                                                   <xs:pattern value="[A-Z][A-Z][A-Z][0-9][0-9][0-9][0-9]"/>
                                                 </xs:restriction>
                                               </xs:simpleType>
                                             </xs:element>

                                             <xs:element name="Finalidade" minOccurs="1" default="venda">
												<xs:simpleType>
                                                 <xs:restriction base="xs:string">
                                                   <xs:enumeration value="venda"/>
													<xs:enumeration value="aluguel"/>
                                                 </xs:restriction>
                                               </xs:simpleType>                                           
											</xs:element>

                                             <xs:element name="Tipo" minOccurs="1">
												<xs:simpleType>
                                                 <xs:restriction base="xs:string">
                                                    <xs:enumeration value="casa"/>
													<xs:enumeration value="apartamento"/>
													<xs:enumeration value="chácara"/>
													<xs:enumeration value="terreno"/>
													<xs:enumeration value="barracao"/>
                                                 </xs:restriction>
                                               </xs:simpleType>
                                             </xs:element>

                                             <xs:element name="Dimensao" minOccurs="1">
												<xs:simpleType>
                                                 <xs:restriction base="xs:string">
                                                   <xs:pattern value="([0-9])*x([0-9])*"/>
                                                 </xs:restriction>
                                               </xs:simpleType>
                                             </xs:element>

                                             <xs:element name="Area" type="xs:decimal" minOccurs="1">
                                             </xs:element>

                                             <xs:element name="Construcao" type="xs:decimal" minOccurs="0">
                                             </xs:element>

                                             <xs:element name="Endereco" minOccurs="1">
                                               <xs:simpleType>
                                                 <xs:restriction base="xs:string">
                                                   <xs:whiteSpace value="preserve"/>
                                                 </xs:restriction>
                                               </xs:simpleType>
											 </xs:element>

                                             <xs:element name="Contato" minOccurs="1">
											   <xs:simpleType>
                                                 <xs:restriction base="xs:string">
												   <xs:whiteSpace value="preserve"/>
                                                 </xs:restriction>
                                               </xs:simpleType>
                                             </xs:element>

                                             <xs:element name="Descricao" type="xs:string" minOccurs="1">
                                             </xs:element>

                                             <xs:element name="Quartos" type="xs:integer" minOccurs="0">
                                             </xs:element>

                                             <xs:element name="Banheiros" type="xs:integer" minOccurs="0">
                                             </xs:element>

                                             <xs:element name="Garagens" type="xs:integer" minOccurs="0">
                                             </xs:element>

                                             <xs:element name="Suites" type="xs:integer" minOccurs="0">
                                             </xs:element>

                                             <xs:element name="Salas" type="xs:integer" minOccurs="0">
                                             </xs:element>

                                             <xs:element name="Escritorio" minOccurs="0" default="não"> 
												<xs:simpleType>
                                                 <xs:restriction base="xs:string">
													<xs:enumeration value="sim"/>
													<xs:enumeration value="não"/>
                                                 </xs:restriction>
                                               </xs:simpleType> 
                                             </xs:element>
					     
											<xs:element name="Piscina" minOccurs="0" default="não">
												<xs:simpleType>
                                                 <xs:restriction base="xs:string">
                                                   <xs:enumeration value="sim"/>
													<xs:enumeration value="não"/>
                                                 </xs:restriction>
                                               </xs:simpleType> 
                                             </xs:element>

											 <xs:element name="Banheira" minOccurs="0" default="não">
												<xs:simpleType>
                                                 <xs:restriction base="xs:string">
                                                    <xs:enumeration value="sim"/>
													<xs:enumeration value="não"/>
                                                 </xs:restriction>
                                               </xs:simpleType> 
                                             </xs:element>

											 <xs:element name="Armario" minOccurs="0" default="não">
											   <xs:simpleType>
                                                 <xs:restriction base="xs:string">
													<xs:enumeration value="sim"/>
													<xs:enumeration value="não"/>
                                                 </xs:restriction>
                                               </xs:simpleType>
                                             </xs:element>

											 <xs:element name="Churrasqueira" minOccurs="0" default="não">
											   <xs:simpleType>
                                                 <xs:restriction base="xs:string">
													<xs:enumeration value="sim"/>
													<xs:enumeration value="não"/>
                                                 </xs:restriction>
                                               </xs:simpleType>
                                             </xs:element>

                                             <xs:element name="Quintal" minOccurs="0" default="não">
												<xs:simpleType>
                                                 <xs:restriction base="xs:string">
													<xs:enumeration value="sim"/>
													<xs:enumeration value="não"/>
                                                 </xs:restriction>
                                               </xs:simpleType>
                                             </xs:element>

                                             <xs:element name="Valor" minOccurs="1">
												<xs:simpleType>
                                                 <xs:restriction base="xs:string">
                                                    <xs:pattern value="[0-9]{2,3}.[0-9]{3},[0-9]{2}"/>
                                                 </xs:restriction>
                                               </xs:simpleType>
                                             </xs:element>

                                             <xs:element name="Financiamento" minOccurs="1">
												<xs:simpleType>
                                                 <xs:restriction base="xs:string">
                                                    <xs:enumeration value="sim"/>
													<xs:enumeration value="não"/>
                                                 </xs:restriction>
                                               </xs:simpleType>
                                             </xs:element>

											<xs:element name="IPTU" minOccurs="0">
												<xs:simpleType>
                                                 <xs:restriction base="xs:string">
                                                    <xs:pattern value="[0-9]{1,3}.[0-9]{3},[0-9]{2}"/>
                                                 </xs:restriction>
                                               </xs:simpleType>
                                             </xs:element>

											<xs:element name="Condominio" minOccurs="0">
												<xs:simpleType>
                                                 <xs:restriction base="xs:string">
                                                    <xs:pattern value="[0-9]{1,3}.[0-9]{3},[0-9]{2}"/>
                                                 </xs:restriction>
                                               </xs:simpleType>
                                            </xs:element>
                                       </xs:all>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>
   